/* @import "~antd/dist/antd.css"; */

.App {
  text-align: center;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: 400;
  font-family: 'Khula', sans-serif;
  background-color: #ffffff;
  background-size: cover;
  color: #131310;
}

.ant-btn-primary {
  background-color: #989a94;
}

.ant-btn-primary:hover {
  background-color: #e0cbc4 !important;
}

.ant-btn-default:hover {
  border-color: #e0cbc4 !important;
}

.site-layout-content {
  min-height: 280px;
  background: #ffffff;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Khula', sans-serif;
}

.Header {
  text-align: center;
  color: #131310;
  font-weight: 700;
  font-size: 3vw;
  text-decoration: underline;
  text-decoration-color: #e0cbc4;
  font-family: 'Cormorant Garamond', serif;
}

.IntroBody {
  text-align: center;
  color: #131310;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 2%;
  font-family: 'Khula', sans-serif;
}

.Body {
  padding-bottom: 3%;
}

a {
  color: #131310;
}

a:hover {
  color: #e0cbc4;
}

.image {
  padding: 20px;
  display: block;
  margin-right: auto;
  width: 80%;  
  height: auto;
}

.icon {
  display: block;
  width: 50px;  
  height: auto;
  padding-right: 15px;
  color: #989a94;
}

.icon:hover {
  display: block;
  width: 50px;  
  height: auto;
  padding-right: 15px;
  color: #e0cbc4;
}

.images {
  display: block;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  width: 100%;
}

.row {
  margin-bottom: 3%;
}

.text {
  color: white;
  font-size: 3vw;
  font-weight: 400;
  font-family: 'Khula', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e0cbc4;
}

.container:hover .overlay {
  border-radius: 10px;
  opacity: 1;
}

.Pink {
  background-color: #ebe4de;
  border-radius: 15px;
  padding-bottom: 2%;
  min-height: 500px;
}