.Home {
   text-align: center;
   font-weight: 400;
   font-size: 22px;
   margin-top: 1%;

   background-color: #989a94;
   color: #ffffff;
   border-radius: 5px;
   font-family: 'Khula', sans-serif;
}
